<header class="header">
        <div class="header-left">
            <div class="logo">
                <div class="logo-icon">V</div>
                <span>Vitilo</span>
            </div>
            <div class="search-box">
                <span style="color: #818384; font-size: 16px;">🔍</span>
                <input type="text" placeholder="Search Vitilo">
            </div>
        </div>
        <div class="header-right">
            <div class="header-icon">🔔</div>
            <div class="header-icon">💬</div>
            <div class="header-icon">👤</div>
        </div>
    </header>