.page {
  min-height: calc(100vh - 76px);
  background: #dae0e6;
  padding: 20px;
}

.card {
  max-width: 900px;
  margin: 0 auto;
  padding: 18px;
}

.full-width {
  width: 100%;
}

.top {
  margin-bottom: 10px;
}
