.app-container {
  min-height: 100vh;
  background-color: #dae0e6;
}

.main-layout {
  display: grid;
  grid-template-columns: 250px 1fr 312px;
  max-width: 1600px;
  margin: 56px auto 0;
  padding: 20px;
  gap: 24px;

  @media (max-width: 1280px) {
    grid-template-columns: 1fr 312px;
    
    app-sidebar {
      display: none;
    }
  }

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    
    app-right-sidebar {
      display: none;
    }
  }
}

.content-area {
  min-height: calc(100vh - 96px);
}